html, body, #root {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  font-family: 'Segoe UI', sans-serif;
}


/* Responsivo */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    border-right: none;
  }

  .app-container {
    flex-direction: column;
  }
}
